<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.auth0.webtask.alfred</string>
	<key>connections</key>
	<dict>
		<key>478E1342-0435-46E9-9817-6177413843E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5DD27B3-C700-4CB2-8E64-748DEA397D50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDC43A50-38DB-4CC5-8C0E-8D5F951F176B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>481356B6-F6C2-4864-86F5-E0C287A22F6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Abhishek Hingnikar</string>
	<key>description</key>
	<string>Twitter workflow powered by Webtask and Auth0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Twitter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>481356B6-F6C2-4864-86F5-E0C287A22F6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>twt:logout</string>
				<key>subtext</key>
				<string>Logout from twitter.</string>
				<key>text</key>
				<string>Logout of twitter client</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DDC43A50-38DB-4CC5-8C0E-8D5F951F176B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>twt</string>
				<key>subtext</key>
				<string>Tweet straight from alfred, and yes emojies work!</string>
				<key>text</key>
				<string>Tweet</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>478E1342-0435-46E9-9817-6177413843E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>PYTHONPATH=./libs python app.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5DD27B3-C700-4CB2-8E64-748DEA397D50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>478E1342-0435-46E9-9817-6177413843E4</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>481356B6-F6C2-4864-86F5-E0C287A22F6F</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>A5DD27B3-C700-4CB2-8E64-748DEA397D50</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>DDC43A50-38DB-4CC5-8C0E-8D5F951F176B</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://auth0.com/</string>
</dict>
</plist>
